
body {
}
.container {
    width: 100%;
    height: 100vh;
    border:1px solid red;

}

.dropdown {
    margin-top: 1vh;
    width: 21vw;
    height: 4vh;
    border: 1px solid rgb(145, 142, 142);
    box-shadow:#aba2a2;
    user-select: none;
    position: relative;
    outline: none;
}
.dropdown--accepted {
    margin-top: 1vh;
    width: 21vw;
    height: 4vh;
    border: 1px solid rgb(119, 132, 123);
    box-shadow:#333;
    user-select: none;
    position: relative;
    outline: none;
}
.dropdown--declined {
    margin-top: 1vh;
    width: 21vw;
    height: 4vh;
    border: 1px solid rgb(119, 132, 123);
    box-shadow:#333;
    user-select: none;
    position: relative;
    outline: none;
}
.dropdown .dropdown-btn {
    padding: 10px;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    border-color: rgb(175, 185, 190);
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
    font-size: 13px;
}
.dropdown--accepted .dropdown-btn {
    padding: 10px;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    border-color: rgb(175, 185, 190);
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
    font-size: 13px;
}
.dropdown--declined .dropdown-btn {
    padding: 10px;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    border-color: rgb(175, 185, 190);
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
    font-size: 13px;
}
.dropdown .dropdown-content {
    position: absolute;
    top: 110%;
    padding: 15px;
    font-weight: bold;
    color: #333;
    background-color: white;
    font-weight: 500;
    width: 93%;
    
}
.dropdown--accepted .dropdown-content {
    position: absolute;
    top: 110%;
    padding: 15px;
    font-weight: bold;
    color: #333;
    background-color: white;
    font-weight: 500;
    width: 93%;
    
}
.dropdown--declined .dropdown-content {
    position: absolute;
    top: 110%;
    padding: 15px;
    font-weight: bold;
    color: #333;
    background-color: white;
    font-weight: 500;
    width: 93%;
    
}
.dropdown .dropdown-content .dropdown-item {
    padding: 10px;
    font-size: medium;
    cursor: pointer;
    transition: all 0.2s;
    
}
.dropdown--accepted .dropdown-content .dropdown-item {
    padding: 10px;
    font-size: medium;
    cursor: pointer;
    transition: all 0.2s;
    
}
.dropdown--declined .dropdown-content .dropdown-item {
    padding: 10px;
    font-size: medium;
    cursor: pointer;
    transition: all 0.2s;
    
}
.dropdown .dropdown-content .dropdown-item:hover {
    background: #fcfcfc;
}
.dropdown--accepted .dropdown-content .dropdown-item:hover {
    background: #fcfcfc;
}
.dropdown--declined .dropdown-content .dropdown-item:hover {
    background: #fcfcfc;
}
.dropdown-item {
    font-size: 10px;
}