.Second--Second {
    margin-left: 4vw;
    width: 47.5vw;
    height: 100vh;
}

.Second--Header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(105, 102, 102);
}
.Second--Body--First--First {
    display: flex;
    justify-content: space-between;
}
.Second--Body--First--First--Input {
    margin-top: 1vh;
    margin-left: 0.2vw;
    width: 21vw;
    height: 4vh;
    border-color: rgb(175, 185, 190);
}
.Second--Body--First--First--Input::placeholder {
    font-size: larger;
    
}
.Second--Body--First--First-P {
    font-size: 12.5px;
}