.Second--Second {
    margin-left: 1vw;
    width: 47.5vw;
    height: 100vh;
}

.Second--Header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #1A1A1A;
}
.Second--Body {
    margin-top: 4.5vh;
}
.Second--Body--First--First {
    display: flex;
    justify-content: space-between;
}
.Second--Body--First--First--Input:focus {
    border: 2px solid #BCBCBC;

}
.Second--Body--First--First--Input--declined:focus {
    border: 2px solid #EF5050;

    
}
.Second--Body--First--First--Input--accepted:focus {
    border: 2px solid #98E37E;

    
}
.Second--Body--First--First--Input {
    margin-top: 1vh;
    margin-left: 0.2vw;
    width: 21vw;
    height: 4vh;
    border: 1px solid #BCBCBC;
    outline: none;
}
.Second--Body--First--First--Input--declined {
    margin-top: 1vh;
    margin-left: 0.2vw;
    width: 21vw;
    height: 4vh;
    border-color: #EF5050;
    outline: none;
}
.Second--Body--First--First--Input--accepted {
    margin-top: 1vh;
    margin-left: 0.2vw;
    width: 21vw;
    height: 4vh;
    border-color: #98E37E;
    outline: none;
}
select.Second--Body--First--First--Input--accepted {
    margin-top: 1vh;
    margin-left: 0.2vw;
    width: 21vw;
    height: 4vh;
    border-color: #98E37E;
} 
.Second--Body--First--First--Input::placeholder {
    position: absolute;
    font-size: larger;
    margin-left: 10px;
    top: 20%;
    
}
.Second--Body--First--First-P {
    font-size: 12.5px;
}
.Second--Body--Second--First{
    margin-top: 4vh;
    display: flex;
    width: 47.5vw;
}
.Second--Body--Second--First--Button{
    margin-left: 2vw;
    width: 8vw;
    height: 3vh;
    color: white;
    border-radius: 10%;
    border: none
}
.Second--Body--Third {
    margin-top: 4.5vh;
}
.Second--Body--Third--Second {
    width: 46.5vw;
    margin: 0.25vw;
    border: 1px solid #BCBCBC;
    outline: none
}
.Second--Body--Third--Second:focus {
    border: 2px solid #BCBCBC;
}
.Second--Body--Third--Second::placeholder {
    position: absolute;
    margin-left: 4px;
    top: 0;
}
.Second--Body--Third--Second {
    padding-bottom: 70px;
    vertical-align: top;
    margin-top: 1vw;

}
.Second--Body--Fourth--Input {
    margin: 0.25vw;
    width: 46.5vw;
    height: 4vh;
    margin-top: 1vh;
    outline: none;
    border: 1px solid #BCBCBC;
    
}
.Second--Body--Fourth--Input:focus {
    border: 2px solid #BCBCBC;

}
.Second--Body--Fourth--Input--accepted {
    margin: 0.25vw;
    width: 46.5vw;
    height: 4vh;
    margin-top: 1vh;
    outline: none;
    border-color: #98E37E;
}
.Second--Body--Fourth--Input--accepted:focus {
    border-color:2px solid #98E37E;

}
.Second--Body--Fourth--Input--declined {
    margin: 0.25vw;
    width: 46.5vw;
    height: 4vh;
    margin-top: 1vh;
    outline: none;
    border-color: #EF5050;
}
.Second--Body--Fourth--Input--declined:focus {
    border-color: 2px solid #EF5050;

}
.Second--Body--Fourth--Input::placeholder {
    position: absolute;
    margin-left: 3px;
    margin-top: 1.2vh;
}
.Second--Body--Fourth {
    margin-top: 4vh;
}
.Second--Body--Fifth--Button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10vw;
    height: 4vh;
    color: white;
    background-color: #6B40E3;
    font-size: 17px;
    border: none;
    border-radius: 6%;
    cursor: pointer;
}
.Second--Body--Sixth {
    position: relative;
    height: 10vw;
}
body {
    font-family: "Helvetica Neue";
}
label {
    font-size: large;
    color: Solid black;
}

