@font-face {
  font-family: "FontOfMain";
  src: url('./PageSources/fonts/Redgat.otf');
  font-weight: 100;
}
:root {
  background-image: url('./PageSources/images/background.jpg');
  background-repeat: no-repeat;
  background-size: 120vw;
}

