.Main--Body {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    
}

.Main--Button {
    background-color: black;
    color: white;
    width: 20vw;
    height: 5vh;
    border-radius: 7%;
    cursor: pointer;
}
.link--style{
   font-style: normal;
}
